.container {
  min-width: 400px;
  max-width: 400px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: lightcyan;
  border: 1px solid darkgray;
}

.hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.3;
  background-color: greenyellow;
}

.square {
  min-width: 40px;
  height: 40px;
  background-color: lightseagreen;
  margin: 4px;
}

.circle {
  min-width: 40px;
  height: 40px;
  background-color: lightseagreen;
  border-radius: 50%;
  margin: 4px;
}

.triangle {
  min-width: 40px;
  height: 40px;
  background-color: lightseagreen;
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  margin: 4px;
}

.button {
  background-color: lightseagreen;
  font-size: 18px;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
}

input.progress {
  cursor: ew-resize;
}

input.progress[value] {
  position: relative;
  width: 300px;
  height: 27px;
  -webkit-appearance: none;
  background-color: transparent;
  color: currentColor;
}
